.ef__container {
  display: flex;
  margin: 0 auto;
  width: 95%;
}

.ef__block {
  margin: 0 auto;
  text-align: center;
  padding: 9px;
}

.ef-title {
  font-weight: 800;
  font-size: 90%;
  padding-bottom: 9px;
  cursor: pointer;
}

.ef-img {
  width: 11.5vw;
}
@media (min-width:801px)  { 

}

.ef-img-clip {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.ef__block:hover {
    filter: drop-shadow(10px 10px 25px #fff);

}
