.header {
  content: "";
  border-bottom: 2px solid rgba(34, 34, 34, 0.15);
  background: #ffffff;
}

.navbar__container {
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}
.logo_container {
  cursor: pointer;
  display: flex;
  width: 100px;
  object-fit: contain;
}
/* .search__nav {
  display: flex;
  align-items: center;
} */
/* .searchicon {
  background: #efefef;
  padding: 15px;
  padding-right: 18px;
  border-radius: 0 25px 25px 0;
} */
/* .searchinput {
  height: 45px;
  padding: 5px;
  padding-left: 18px;
  width: 100%;
  outline: none;
  background: #efefef;
  border-radius: 25px 0 0 25px;
  border-color: #efefef;
} */

.cart_container {
  margin-left: 1%;
}
.cart-btn {
  height: 24px;
  background: rgb(255, 255, 255);
  cursor: pointer;

}

.login--btn {
  font-weight: 800;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: 0;
  padding: 0.5rem 1rem;
}

.login--btn:hover {
  background: #e1e1e1;
}
